<p>story-table works!</p>
<mat-table [dataSource]="dataSource">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{timespan}}</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'name'"
            (click)="startEdit(i, 'name', row.name)">
        {{ row.name }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'name'"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'name')"
             (keyup.enter)="saveEdit(i, 'name')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <!-- Monday Column -->
  <ng-container matColumnDef="mo">
    <th mat-header-cell *matHeaderCellDef>Mo</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'mo'"
            (click)="startEdit(i, 'mo', row.mo)">
        {{ row.mo }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'mo'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'mo')"
             (keyup.enter)="saveEdit(i, 'mo')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <ng-container matColumnDef="tu">
    <th mat-header-cell *matHeaderCellDef>Di</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'tu'"
            (click)="startEdit(i, 'tu', row.tu)">
        {{ row.tu }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'tu'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'tu')"
             (keyup.enter)="saveEdit(i, 'tu')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <ng-container matColumnDef="we">
    <th mat-header-cell *matHeaderCellDef>Mi</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'we'"
            (click)="startEdit(i, 'we', row.we)">
        {{ row.we }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'we'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'we')"
             (keyup.enter)="saveEdit(i, 'we')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <ng-container matColumnDef="th">
    <th mat-header-cell *matHeaderCellDef>Do</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'th'"
            (click)="startEdit(i, 'th', row.th)">
        {{ row.th }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'th'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'th')"
             (keyup.enter)="saveEdit(i, 'th')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <ng-container matColumnDef="fr">
    <th mat-header-cell *matHeaderCellDef>Fr</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'fr'"
            (click)="startEdit(i, 'fr', row.fr)">
        {{ row.fr }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'fr'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'fr')"
             (keyup.enter)="saveEdit(i, 'fr')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
