<mat-table [dataSource]="dataSource">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{timespan}}</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'name'"
            (click)="startEdit(i, 'name', row.name)">
        {{ row.name }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'name'"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'name')"
             (keyup.enter)="saveEdit(i, 'name')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <!-- Monday Column -->
  <ng-container matColumnDef="mo">
    <th mat-header-cell *matHeaderCellDef [class.today]="todayColumn === 'mo'">Mo</th>
    <td mat-cell *matCellDef="let row; let i = index" [class.today]="todayColumn === 'mo'">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'mo'"
            (click)="startEdit(i, 'mo', row.mo)">
        {{ row.mo }}
      </span>
      <input *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'mo'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'mo')"
             (keyup.enter)="saveEdit(i, 'mo')"
             (keyup.escape)="cancelEdit()"
             autofocus>
    </td>
  </ng-container>

  <!-- Tuesday Column -->
  <ng-container matColumnDef="tu">
    <th mat-header-cell *matHeaderCellDef [class.today]="todayColumn === 'tu'">Di</th>
    <td mat-cell *matCellDef="let row; let i = index" [class.today]="todayColumn === 'tu'">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'tu'"
            (mousedown)="startEdit(i, 'tu', row.tu)">
        {{ row.tu }}
      </span>
      <input #editInput *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'tu'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'tu')"
             (keyup.enter)="saveEdit(i, 'tu')"
             (keyup.escape)="cancelEdit()">
    </td>
  </ng-container>

  <!-- Wednesday Column -->
  <ng-container matColumnDef="we">
    <th mat-header-cell *matHeaderCellDef [class.today]="todayColumn === 'we'">Mi</th>
    <td mat-cell *matCellDef="let row; let i = index" [class.today]="todayColumn === 'we'">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'we'"
            (mousedown)="startEdit(i, 'we', row.we)">
        {{ row.we }}
      </span>
      <input #editInput *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'we'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'we')"
             (keyup.enter)="saveEdit(i, 'we')"
             (keyup.escape)="cancelEdit()">
    </td>
  </ng-container>

  <!-- Thursday Column -->
  <ng-container matColumnDef="th">
    <th mat-header-cell *matHeaderCellDef [class.today]="todayColumn === 'th'">Do</th>
    <td mat-cell *matCellDef="let row; let i = index" [class.today]="todayColumn === 'th'">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'th'"
            (mousedown)="startEdit(i, 'th', row.th)">
        {{ row.th }}
      </span>
      <input #editInput *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'th'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'th')"
             (keyup.enter)="saveEdit(i, 'th')"
             (keyup.escape)="cancelEdit()">
    </td>
  </ng-container>

  <!-- Friday Column -->
  <ng-container matColumnDef="fr">
    <th mat-header-cell *matHeaderCellDef [class.today]="todayColumn === 'fr'">Fr</th>
    <td mat-cell *matCellDef="let row; let i = index" [class.today]="todayColumn === 'fr'">
      <span *ngIf="!editingCell || editingCell.rowIndex !== i || editingCell.column !== 'fr'"
            (mousedown)="startEdit(i, 'fr', row.fr)">
        {{ row.fr }}
      </span>
      <input #editInput *ngIf="editingCell && editingCell.rowIndex === i && editingCell.column === 'fr'"
             type="number"
             [formControl]="editControl"
             (blur)="saveEdit(i, 'fr')"
             (keyup.enter)="saveEdit(i, 'fr')"
             (keyup.escape)="cancelEdit()">
    </td>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="totalRow">
    <th mat-header-cell *matHeaderCellDef>Gesamt</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <span>{{ displayValue(row.totalRow) }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
